#opciones{
  display: flex; /* Usa flexbox para alinear los elementos en una fila */
  gap: 5px;
}

#tablausers{
  margin-top: 2em ;
}
.card-header{
  display: flex;
  align-items: center;       /* Alinea verticalmente (en el eje transversal) */
  justify-content: center;
}
#titablausers{
font-size: 25px;

}
.opciones{
padding: 0%;
width: 100px;
}

.container{
  width: 60%;
}